
<Section id="selection">
      <button (click)="clicHistorique()">Historique des repas</button>

  <form [formGroup]="foodTaken" (ngSubmit)="selecteddate()" *ngIf="editForm" >
    <label for="food-taken">Date: </label>
    <input type="date" id="food-taken" formControlName="date" [value]="date" >
 <button type="submit"> Valider</button>
  </form>

  <table *ngIf="editTable" >

    <thead>
    <tr>
      <th>Date:</th>
      <th>Aliment consommé:</th>
      <th>Quantité:</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let foodIntake of foodIntakeList | async ">
      <td>{{foodIntake.date}} </td>
      <td>{{foodIntake.food.name}}</td>
      <td>{{foodIntake.quantity}}</td>
    </tr>

    </tbody>
  </table>
      <button type="submit">Mon évolution de poids  </button>
</Section>
