<Section id="ajouteraliments">

  <form [formGroup]="foodForm" (ngSubmit)="onFoodSave()">
<div id="data">
    <label for="food-name">Nom </label>
    <input type="text" id="food-name" formControlName="name">

    <label for="food-quantity">Quantité </label>
    <input type="number" id="food-quantity" formControlName="quantity">

    <label for="food-type">Type </label>
    <input type="text" id="food-type" formControlName="type">

    <label for="food-cal">Calories </label>
    <input type="text" id="food-cal" formControlName="calories">

<!--    <button (click)="onFoodCreate()" class="btn btn-success btn-sm">Creer</button>-->
    <button type="submit" class="btn btn-primary btn-sm">Sauvegarder </button>
</div>
  </form>

  <div class="container">
  <table class="table w-50 .hover" id="listealiments"  >
    <thead class="thead-dark">
    <tr>
      <td>Nom</td>
      <td>Quantité</td>
      <td>Type</td>
      <td>Calories</td>
      <td>Modifier</td>
      <td>Supprimer</td>
    </tr>
    </thead>

    <tbody>
    <!-- ngFor : ajout d'une ligne dans le tableau pour chaque nouvel  aliment trouvé-->
    <tr *ngFor="let food of foodList | async">

      <td>{{food.name}}</td>
      <td>{{food.quantity}}</td>
      <td>{{food.type}}</td>
      <td>{{food.calories}}</td>

      <td>
        <button (click)="onEditFood(food)" class="btn btn-danger btn-sm"><img src="/assets/pencil.svg " width="15" height="15"> Modifier</button>
      </td>

      <td>
        <button (click)="onFoodDelete(food.id)" class="btn btn-danger btn-sm"><img src="/assets/trash.svg " width="15" height="15" >Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</Section>







