<!--formulaire pour enregistrer le suivi de ma perte de poids-->

<Section id="calculpoids">
  <form [formGroup]="weightForm" (ngSubmit)="weightSave()">

    <label for="weight-data">Entrer le poids (kg) </label>
    <input type="number" id="weight-data" formControlName="weight">

      <label for="weight-date">Date </label>
      <input type="date" id="weight-date"  formControlName="measurementDate" >

      <button type="submit">Sauvegarder</button>
  </form>
</Section>

<Section *ngIf="displayconfirmation" id="registerconfirmation" >
  <h5 >Les données ont bien été sauvegardées !</h5>

</Section>

<Section>

</Section>

<div style="display: block;">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          chartType="line"
          [plugins]="lineChartPlugins">
  </canvas>
</div>


