<!--formulaire pour enregistrer le suivi de ma perte de poids-->

<!--<Section id="calculpoids">-->
<Section >
  <form [formGroup]="weightForm" (ngSubmit)="weightSave()">
<div class="form-group">
    <label for="appuser-select">Mon profil : </label>
</div>

    <div class="form-group">
    <select formControlName="appuserdetail" (change)="changeAppUser($event)">
      <option value="selectedappuser" class="form-control"></option>
      <option *ngFor="let appuser of appUserList | async" [ngValue]="appuser">{{appuser.username}} </option>
    </select>
    </div>

    <div class="form-group">
    <label for="weight-date">Date: </label>
    </div>
    <div class="form-group">
    <input type="date" class="form-control" id="weight-date"  formControlName="measurementDate">
    </div>
    <div class="form-group">
    <label for="weight-data">Mon poids: </label>
    </div>
    <div class="form-group">
    <input type="number" class="form-control" id="weight-data" formControlName="weight">
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-success btn-sm">Sauvegarder</button>
</div>
  </form>
</Section>

<Section *ngIf="displayconfirmation" id="registerconfirmation">
<div id="mongraph" >
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend "
          chartType="line"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
</Section>


