<!--formulaire pour enregistrer le suivi de ma perte de poids-->

<!--<Section id="calculpoids">-->
<Section >
  <form [formGroup]="weightForm" (ngSubmit)="weightSave()">

    <label for="appuser-select">Profil : </label>
    <select formControlName="appuserdetail" (change)="changeAppUser($event)">
      <option value="selectedappuser" class="form-control">Selectionner un utilisateur</option>
      <option *ngFor="let appuser of appUserList | async" [ngValue]="appuser">{{appuser.name}} </option>
    </select>

    <label for="weight-date">Date: </label>
    <input type="date" class="form-control" id="weight-date" formControlName="measurementDate">
    <label for="weight-data">Entrer votre poids(kg): </label>
    <input type="number" class="form-control" id="weight-data" formControlName="weight">
    <button type="submit" class="btn btn-success btn-sm">Sauvegarder</button>
  </form>
</Section>

<Section *ngIf="displayconfirmation" id="registerconfirmation">
<div id="mongraph" style="display: block; width: 1500px; height: 1500px">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          chartType="line"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
</Section>


