<Section>
  <form [formGroup]="foodDiaryForm" (ngSubmit)="addfoodline()">
    <div class="form-group">
     <label for="appuser-select">Mon profil: </label>
    </div>
    <div class="form-group">
      <select formControlName="appuserdetail" (change)="changeAppUser($event)">
        <option value="selectedappuser" class="form-control"></option>
        <option *ngFor="let appuser of appUserList | async" [ngValue]="appuser">{{appuser.username}}</option>
      </select>
    </div>

    <div class="form-group">
    <div class="row">
      <div class="col">
        <button type="button" (click)="addDay(-1)" class="btn btn-secondary btn-sm">J-1</button>
      </div>
      <div class="col">
        <label for="diary-date"></label>
        <input type="date" class="form-control" id="diary-date" formControlName="date">
      </div>
      <div class="col">
        <button type="button" (click)="addDay(+1)" class="btn btn-secondary btn-sm">J+1</button>
      </div>
    </div>
    </div>

      <div class="form-group" >
        <label for="food-select">Aliment : </label>
      </div>
        <div class="form-group">
        <select formControlName="fooddetail" (change)="changeFood($event)">
          <option value="selectedfood" class="form-control">Selectionner un aliment</option>
          <option *ngFor="let food of foodList | async" [ngValue]="food">{{food.name}}</option>
        </select>
      </div>

    <div class="form-group">
      <label for="food-quantity">Quantité :</label>
    </div>
      <div class="form-group">
      <input type="number" name="food-quantity" class="form-control" id="diary-quantity" formControlName="quantity">
    </div>

    <div class="form-group">
    <button type="submit" class="btn btn-primary btn-sm">Ajouter</button>
    </div>
  </form>

  <table class="table w-50 .hover" id="tableValue">
    <thead>
    <tr>
      <th>Date:</th>
      <th>Aliment consommé:</th>
      <th>Quantité:</th>
      <th>Calories:</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let selectedFood of selectedFoodList ">
      <td>{{selectedFood.date |date : 'dd/MM/yyyy' }}</td>
      <td>{{selectedFood.food.name}}</td>
      <td>{{selectedFood.quantity}}</td>
      <td>{{(selectedFood.food.calories) * (selectedFood.quantity)}}</td>
    </tr>
    <td></td>
    <td></td>
    <td>Total :</td>
    <td>{{totalCalories}}</td>
    </tbody>
  </table>
  <button (click)="foodDiarySave()" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Sauvegarder</button>
</Section>


<Section *ngIf="registrationOK" id="saveconfirmation">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Vos données ont bien été sauvegardées!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
    </div>
  </div>
</div>
</Section>
