
<h1>Mon tableau de bord .....</h1>

<nav>
  <ul class="menu">
    <li id="calculimc-menu"><a [routerLink]="['imc']">Calculer mon IMC</a></li>
    <li id="journalalimentaire-menu"><a [routerLink]="['diary']">Compléter mon journal alimentaire</a></li>
    <li id="pesee-menu"><a [routerLink]="['weight']">C'est l'heure de la pesée</a></li>
    <li id="maprogression-menu"><a [routerLink]="['progress']">Ma progression</a></li>
    <li id="miseajourdonnees-menu"><a [routerLink]="['data']">Mise a jour de la table des aliments</a></li>
  </ul>
</nav>

<router-outlet>
  <!--  en fonction de mon router, va s'afficher ici une vue différente-->
</router-outlet>
