
ul.menu {
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
  justify-content: center;
}

ul.menu li {
  padding: 10px 20px;
  color: white;
}

ul.menu li:hover {
  cursor: pointer;
}

table{
  justify-content: center;
  margin : auto;

}



h1, h2, h3 {
  text-align: center;
}
section{
  text-align: center;
}
table {
  margin: auto;
  border-width:2px;
  border-style:solid;
  border-color:black;
  text-align: center;
}
th {
  border-bottom:solid black;
    width :auto;
}
img{
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}
button {
  margin : 10px;
  text-decoration :none;
}

canvas{
  width: 500px;
  height: 500px;

}

