#myCarousel {

}

#mynavbar {
  height: 100px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e3f2fd;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* changement de la couleur au passage de la souris*/
li a:hover {
  background-color: white;
}


.active {
  background-color: #4CAF50;
}


table {
  justify-content: center;
  margin: auto;
}

h1, h2, h3 {
  text-align: center;
}

section {
  text-align: center;
}


table {
  margin: auto;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

th {
  border-bottom: solid black;
  width: auto;
}


/*img{*/
/*  margin-left: 500px;*/
/*  margin-right: 500px;*/
/*  width: 6em;*/
/*}*/


button {
  margin: 10px;
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  text-align: center;
}
